.participantsList{

    height: 100%;
    position: fixed;
    width: 0;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: scroll; 
    transition-duration: 10s;
    background-color: #f4f4f4;
    opacity: 0.9;
    padding: 10px;
    
}

.participantsList button{
    display: flex;
    float: right;
    margin-bottom: 15px;
    background-color: transparent;
    outline: none;
    border: none;
    color: orangered;
    font-size:20px;
}

.participantsList div{
    background-color: rgb(235, 154, 154);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    width: 80%;
    border-radius: 5px;
    margin: 3px;
}

.participantsList div p{

    padding: 0px;
    margin: 0px;
}

.show{
    width: 250px;
    animation: fadeIn 1s 0s 1;
    opacity: 0.9;

}

.hide{
    width: 0;
    animation: fadeOut 1s 0s 1;
}


.mobile-hide{
    display: flex;
}


@media only screen and (max-width: 800px) {
    
    .mobile-hide{
        display: none;
    }

  }
