.participantsList{

    height: 100%;
    position: fixed;
    width: 0;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: scroll; 
    transition-duration: 10s;
    background-color: black;


}

.participantsList div{
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    width: 80%;
    border-radius: 5px;
    margin: 3px;
}

.participantsList div p{

    padding: 0px;
    margin: 0px;
}

.show{
    width: 250px;

}

.hide{
    width: 0;
    

}


.mobile-hide{
    display: flex;
}


@media only screen and (max-width: 800px) {
    
    .mobile-hide{
        display: none;
    }

  }
