.participantsList{

    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    min-height: 500px;
    overflow-y: scroll; 
    transition-duration: 1s;


}

.participantsList div{
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    width: 80%;
    border-radius: 5px;
    margin: 3px;
}

.participantsList div p{

    padding: 0px;
    margin: 0px;
}

.show{
    position: relative;
    height: 100vh;
    z-index: 2;
    width: 60%;
}

.hide{
    position: relative;
    height: 100vh;
    z-index: 2;
    width: 0px;
}


.mobile-hide{
    display: flex;
}


@media only screen and (max-width: 800px) {
    
    .mobile-hide{
        display: none;
    }

  }
