body,html{
    background-color: whitesmoke;
}

.container{
    margin: 0px !important;
    padding: 0px !important;
    width: 100%;
}



.chatWindowContainer{

    padding-top: 5px;
    padding-bottom: 5vh;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    width: auto;
    height: 90vh;
    align-items: flex-start;
    justify-content: center;
    margin:0px;
}


.messageBox{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: 80vh;
}

.messagesList{

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 600px;
    padding: 20px;
    height: 70vh;
    margin: 0px;
    
}

@media only screen and (max-width: 800px) {
    
    .messagesList{
        width: 100%;
    }

  }

.messageInput{
    width: 100%;
}

.messageQueue{
    display: flex;
    flex-direction: column;
    width: 600px;
    min-height: 500px;
    align-items: flex-start;
    justify-content: flex-start;
    overflow-y: scroll;    
    background-color: #ed9a91;
    border-radius: 5px;
    padding-bottom: 10px;
}

@media only screen and (max-width: 800px) {
    
    .messageQueue{
        width: 100%;
    }

  }



.message p{

    padding: 0px;
    margin: 0px;
}

.message span{
    color: rgb(31, 108, 224);
    font-size: 14px;
}

.message{

    max-width: 70%;
    min-width: 50px;
    height: auto;
    padding: 3px;
    margin: 3px;
    border-radius: 3px;
    background-color: bisque;
    word-wrap: break-word;

}



