

.header{
    display: flex;
    width: 100%;
    align-items: center;
    height: 7vh;
    margin-bottom: 20px;
    padding-bottom: 5px;
    justify-content: space-between;
    background-color:#d45a4a;
}

.header h3{

    font-size: 20px;
    margin-left: 10px;
}

.header button{
    margin: 5px;
    background-color: rgb(50, 80, 182);
    border-radius: 10px;
    padding-left: 8px;
    padding-right: 8px;
    outline: none;
    border: none;
}

@media only screen and (max-width: 800px) {
    
    .header h3{
        font-size: 16px;
        margin-left: 2px;
    }

  }
