.form{
    display: flex;
    width: max-content;
    flex-direction: column;
    height: auto;
    justify-content: space-around;
    align-items: flex-start;
    padding: 30px;
    margin: 10px;
    background-color: rgb(134, 98, 167);
    border-radius: 5px;
    margin-top: 100px;
    box-shadow: 2px 2px 20px black;
}

.form input{

    border-radius: 20px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    outline: none;
    margin: 5px;
    margin-left: 0px;
    border: 2px solid saddlebrown;
}

.form input:focus{
    outline: none;
}

.form button{

    align-self: center;
    padding: 6px;
    margin: 8px;
    background-color: burlywood;
    border: none;
    transition-duration: 500ms;
    border-radius: 5px;
}

.form button:hover{
    border: none;
    outline: none;
    background-color: brown;
}

.form button:focus{
    border: none;
    outline: none;
}


.messageForm input{

    border-radius: 20px;
    width: 80%;
    padding: 10px;
    outline: none;
    margin: 5px;
    margin-left: 0px;
    border: 2px solid saddlebrown;
    box-shadow: 2px 2px 20px rgb(150, 149, 149);
}

.messageForm input:focus{
    outline: none;
    padding: 10px;
}

.messageForm{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
}

.messageForm button{
    display: flex;
    align-items: center;
    justify-content: center;
    height:45px;
    width: 45px;
    outline: none;
    border: 2px solid saddlebrown;
    background-color: #d38c84;
    font-weight: bold;
    border-radius: 50%;
    box-shadow: 2px 2px 20px rgb(150, 149, 149);
}
