.form{
    display: flex;
    width: max-content;
    flex-direction: column;
    height: auto;
    justify-content: space-around;
    align-items: flex-start;
    padding: 30px;
    margin: 10px;
    background-color: blueviolet;
    border-radius: 5px;
}

.form input{

    border-radius: 20px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    outline: none;
    margin: 5px;
    margin-left: 0px;
    border: 2px solid saddlebrown;
}

.form input:focus{
    outline: none;
}

.form button{

    align-self: center;
    padding: 8px;
    margin: 8px;
    background-color: burlywood;
    border: none;
    transition-duration: 500ms;
}

.form button:hover{
    border: none;
    outline: none;
    background-color: brown;
}

.form button:focus{
    border: none;
    outline: none;
}


.messageForm input{

    border-radius: 20px;
    width: 80%;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    outline: none;
    margin: 5px;
    margin-left: 0px;
    border: 2px solid saddlebrown;
}

.messageForm input:focus{
    outline: none;
}

.messageForm{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
}

.messageForm button{
    display: flex;
    align-items: center;
    justify-content: center;
    height:40px;
    width: 40px;
    outline: none;
    border: 2px solid royalblue;
    background-color: rebeccapurple;
    border-radius: 50%;
}
